<div class="container my-3">

  <div class="card" style="width: 60rem">
    <div class="card-header">
      <h3 style="float: left" class="my-3">Columbia Course Information</h3>
      <div style="float: right" ngbDropdown class="d-inline-block my-3">
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
          More Actions
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem onclick="location.href='/courses/insert'">Insert</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button>
        </div>
      </div>
    </div>

    <div class="card-body">Some information about Columbia courses will go here!
      <label>Type in course call_number: </label>
      <input type="text" class="form-control mb-3" [(ngModel)]="coursecall_number">
      <button type="button" (click)="onLookUp()" class="btn btn-primary mb-3">Search</button>
      <button style="margin-left:10px" type="button" class="btn btn-primary mb-3">Modify</button>
      <button style="margin-left:10px" type="button" class="btn btn-primary mb-3">Delete</button>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Call_Number</th>
          <th scope="col">Class_Title</th>
          <th scope="col">Instructor</th>
          <th scope="col">Day</th>
          <th scope="col">Time_Location</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of coursesInfo; index as i">
          <td><a href="/courses/{{p.call_number}}">{{ p.call_number }}</a></td>
          <td>{{ p.call_number }}</td>
          <td>{{ p.class_title }}</td>
          <td>{{ p.instructor }}</td>
          <td>{{ p.day }}</td>
          <td>{{ p.time_Location }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="card-footer">
      <ul class="pagination justify-content-center my-3">
        <li class="page-item">
          <div *ngIf="isFirstPage() then firstPage else notFirstPage"></div>
          <ng-template #firstPage>
            <a class="page-link disabled" role="button"> << </a>
          </ng-template>
          <ng-template #notFirstPage>
            <a class="page-link" role="button" (click)="onPrev()"> << </a>
          </ng-template>
        </li>
        <li class="page-item"><a class="page-link disabled">{{ curPage }}</a></li>
        <li class="page-item">
          <div *ngIf="isLastPage() then lastPage else notLastPage"></div>
          <ng-template #lastPage>
            <a class="page-link disabled" role="button"> >> </a>
          </ng-template>
          <ng-template #notLastPage>
            <a class="page-link" role="button" (click)="onNext()"> >> </a>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</div>


