<!--<div class="container-fluid">-->
<div class="container basicontainer my-3">
  <h1>Student Enrollment Form</h1>
  <form #studentForm="ngForm" novalidate>
<!--    {{studentForm.value | json}}-->
    <div class="mb-3">
      <label>UNI</label>
      <input type="text" #studentUni="ngModel"
             [class.is-invalid]="studentUni.invalid && studentUni.touched"
             class="form-control" [(ngModel)]="student.uni" name="uni" required>
      <small class="text-danger" [class.d-none]="studentUni.valid || studentUni.untouched">
        UNI is required
      </small>
    </div>

    <div class="mb-3">
      <label>First Name</label>
      <input type="text" #studentFirstName="ngModel"
             [class.is-invalid]="studentFirstName.invalid && studentFirstName.touched"
             class="form-control" [(ngModel)]="student.first_name" name="firstName" required>
      <small class="text-danger" [class.d-none]="studentFirstName.valid || studentFirstName.untouched">
        First Name is required
      </small>
    </div>

    <div class="mb-3">
      <label>Middle Name</label>
      <input type="text" class="form-control" [(ngModel)]="student.middle_name" name="middleName">
    </div>

    <div class="mb-3">
      <label>Last Name</label>
      <input type="text" #studentLastName="ngModel"
             [class.is-invalid]="studentLastName.invalid && studentLastName.touched"
             class="form-control" [(ngModel)]="student.last_name" name="lastName" required>
    </div>

    <div class="mb-3">
      <label>Email</label>
      <input type="email" #studentEmail="ngModel" [class.is-invalid]="studentEmail.invalid && studentEmail.touched"
             class="form-control" [(ngModel)]="student.email" name="email" required>
    </div>

    <div class="mb-3">
      <label>Phone Number</label>
      <input type="tel" #studentPhone="ngModel" pattern="^\d{10}$"
             [class.is-invalid]="studentPhone.invalid && studentPhone.touched"
             class="form-control" [(ngModel)]="student.phone" name="phone" required>
      <div *ngIf="studentPhone.errors && (studentPhone.invalid && studentPhone.touched)">
        <small class="text-danger" *ngIf="studentPhone.errors['pattern']">Phone number must be 10 digits</small>
        <small class="text-danger" *ngIf="studentPhone.errors['required']">Phone number is required</small>
      </div>
    </div>

    <div class="mb-3">
      <label>Address</label>
      <input type="text" #studentAddress="ngModel" class="form-control" [(ngModel)]="student.address" name="address">
    </div>

    <div class="mb-3">
      <select #studentSchool="ngModel" [class.is-invalid]="studentSchool.invalid && studentSchool.touched"
              class="form-select" [(ngModel)]="student.school_code" name="school" required>
        <option value="" selected>-- School --</option>
        <option *ngFor="let school of schools">{{ school }}</option>
      </select>
      <small class="text-danger" [class.d-none]="studentSchool.valid || studentSchool.untouched">School is required</small>
    </div>

    <button [disabled]="studentForm.form.invalid" class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </form>
</div>
